<div class="top-header">
	<div class="container">
		<div class="currency ">
			<div class="dropdown">
				<a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">USD</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Dollar</a></li>
					<li><a href="#">Euro</a></li>
				</ul>
			</div>
		</div>
		<div class="language ">
			<div class="dropdown">
				<a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
					<img src="~/images/flags/fr.png" class="flag" />French
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#"><img src="~/images/flags/gb.png" class="flag" />English</a></li>
					<li><a href="#"><img src="~/images/flags/fr.png" class="flag" />French</a></li>
				</ul>
			</div>
		</div>
		<div class="top-bar-social">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
		</div>
		<div class="support-link">
			<a href="#">Abount Us</a>
			<a href="#">Support</a>
		</div>

		<div id="user-info-top" class="user-info pull-right">
			<div class="dropdown">
				<a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>My Account</span></a>
				<ul class="dropdown-menu mega_dropdown" role="menu">
					<li><a href="login.html">Login</a></li>
					<li><a href="#">Compare</a></li>
					<li><a href="#">Wishlists</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
